public_html/cache/smarty/compile/*
public_html/cache/smarty/cache/*
public_html/cache/cachefs/*
public_html/img/tmp/*
!public_html/img/tmp/
public_html/themes/*/cache/*.js
public_html/themes/*/cache/*.css

public_html/tools/smarty*/cache/*.php
!public_html/tools/smarty*/cache/index.php
public_html/tools/smarty*/compile/*.php
!public_html/tools/smarty*/compile/index.php
public_html/log/*.log

public_html/cache/tcpdf/*
!public_html/cache/tcpdf/index.php
!public_html/index.php


